{% extends 'layouts/default/base.html.twig' %}

{% block body %}
    {# <link rel="stylesheet" href="{{ asset('style/thriathlonDurable.css') }}"> #}
    <link rel="stylesheet" href="{{ asset('style/footer_style.css') }}">

    <style>
    
.container {
    color: rgb(68, 68, 68);
    font-family: Arial, sans-serif;
    text-align: left;
    /* Le texte sera centré horizontalement */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 33px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 14px;
    text-align: left;
    /* Le texte du paragraphe reste aligné à gauche */
    margin-left: 20px;
    margin-right: 20px;
}
    </style>

    <div class="font-serif container ml-2 relative isolate overflow-hidden bg-white px-20 lg:overflow-visible">
        <h1 class="pb-2">Triathlon Durable</h1>

        <div class="space-y-3">
            <p>
                Cette année encore, le TOAC triathlon et ses partenaires renouvellent le Half du Lauragais afin de célébrer
                le triple effort.
                Pour que la pratique de ce sport soit durable dans le temps, l’équipe organisatrice poursuit un travail de
                fond afin d’inscrire l’événement dans une démarche écologiquement et socialement responsable.
            </p>

            <p>
                L’ensemble des résolutions prises à l’occasion de cette nouvelle édition sont consignées dans la charte
                éco-responsable du Half du Lauragais (voir ci-dessous). Les principaux objectifs sont de :
            </p>

            <p>
                <ul class="list-disc">
                    <li>Limiter l’impact de l’événement sur l’environnement (émission de CO2, utilisation des plastiques à usage unique) ;</li>
                    <li>Favoriser les acteurs locaux ;</li>
                    <li>Sensibiliser à la démarche éco-responsable.</li>
                </ul>
            </p>

            <p>
                Ces orientations ont des conséquences sur le déroulement de la course avec notamment l’obligation pour les
                concurrents de se munir personnellement de :
            </p>

            <p>
                <ul class="list-disc">
                    <li>Son bonnet de bain – chaque participant devra amener le sien ;
                    </li>
                    <li>Ses bidons de vélo – les concurrents pourront s’arrêter remplir les leurs aux ravitaillements ;
                    </li>
                    <li>Son verre à eau (ou écocup souple) – les concurrents devront se munir d’une ecocup pliable personnelle
                        (comme sur les trails) afin de pouvoir se désaltérer au ravitaillement </li>
                </ul>
            </p>

            <p>
                L’équipe organisatrice remercie l’ensemble des participants pour leur confiance et leur soutien dans cette
                démarche qui permet de réduire substantiellement nos déchets plastiques.
            </p>

        </div>

        <div class="py-5 dashed">
            <hr class="dashed">
        </div>

        <div class="space-y-3">
            <h2>Charte éco-responsable du Half du Lauragais, nos initiatives</h2>
            <p>
                PROTECTION DE L’ENVIRONNEMENT ET DE LA BIODIVERSITÉ
            </p>

            <p>
                <ul class="list-disc">
                    <li>Soutien du programme : <a href="https://www.replantonslecanaldumidi.fr/" target="_blank" class="no-underline text-[#007BFF]">“Replantons le
                            canal du Midi”</a> en proposant aux participants du Half du Lauragais de reverser 1€ à une cause
                        environnementale au moment de l’inscription </li>
                    <li>Fin des plastiques à usage unique et arrêt de leur distribution pour les participants (bouteilles,
                        gobelets, rubalise, bonnets de bain,…) </li>
                    <li>Nettoyage des parcours après la course</li>
                </ul>
            </p>

            <p>
                TRI ET RÉDUCTION DES DÉCHETS ET PLASTIQUES
            </p>

            <ul class="list-disc">
                <li>Mise en place d’un système de tri sélectif sur site et aux ravitaillement</li>
                <li>Mise en place de zones de propreté dont des toilettes sèches</li>
                <li>Utilisation d’éco-cup sur les ravitaillements</li>
            </ul>

            <p>
                MOBILITÉ DURABLE
            </p>

            <ul class="list-disc">
                <li>Encouragement au covoiturage</li>
                <li>Possibilité de location de combinaisons et de vélos sur place</li>
            </ul>

            <p>
                ALIMENTATION RESPONSABLE
            </p>

            <ul class="list-disc">
                <li>Produits régionaux, entreprise locales pour la restauration sur place et les cadeaux</li>
                <li>Ventes de boissons locales à la buvette</li>
                <li>Restauration: 1 repas végétarien proposé au menu</li>
                <li>Préférence pour les produits en vrac, de qualité pour les ravitaillements et stand d’arrivée
                </li>
            </ul>

            <p>
                SENSIBILISER A LA DEMARCHE ECO-RESPONSABLE
            </p>

            <ul class="list-disc pb-5">
                <li>Mise en place d’un pôle éco-responsable au sein de l’équipe organisatrice</li>
                <li> Mise en place de la charte éco-responsable du Triathlon du Lauragais</li>
                <li>Présence de l’équipe éco-responsable le jour de l’événement</li>
                <li>Formation des bénévoles</li>
            </ul>

        </div>

    </div>

{% endblock body %}
