

body {
    margin: 0;
    font-size: 16px; /* Utilisez des unités relatives pour la taille de police */
}




 
.menu-item {
    cursor: pointer;
    text-align: center;
    transition: background-color 0.4s; /* Animation de transition de la couleur de fond */
}

.menu-item:hover {
    background-color: #e70404; /* Couleur de fond au survol */

}
/* Styles pour le surlignage du texte au survol */

.hidden {
    visibility:hidden ;
}
.sous-menu {

margin-top: 0.5%;
opacity: 0; /* Masquer le sous-menu par défaut en réglant l'opacité à 0 */
transform: scale(0.9); /* Réduire légèrement la taille du sous-menu */
transition: opacity 0.2s, transform 0.5s; /* Ajouter une transition pour l'opacité et la taille */
position: absolute;
background-color: #ffffff;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
z-index: 1; /* Assurez-vous que le sous-menu est au-dessus du reste du contenu */
}



  /* Styles pour les éléments du sous-menu */
.sous-menu-item {
    padding: 10px;
    text-align: left;
    width: 150px;
    cursor: pointer;
    transition: all 0.5s;
}

.sous-menu-item:hover{
    background-color: #cccccc; /* Couleur de fond au survol */
}

.menu-item:hover .sous-menu {
opacity: 1; /* Afficher le sous-menu en réglant l'opacité à 1 */
transform: scale(1); /* Rétablir la taille normale du sous-menu */
}

.svg{
    cursor:pointer;
  margin-left: 75%;
}
.insta{
    margin-right:80%;
    cursor:pointer;
}

/* Utilisez une règle de média query pour ajuster la mise en page sur les petits écrans */
@media (max-width: 768px) {
    .square {
        width: 90% !important;
        height: 100%;
    }

    .container2{
        flex-direction: column;
        gap: 30px !important;
        margin: 20px 0 !important;
    }

    #slider img{
        width: 100% !important;
    }
}

    .container{
        color: rgb(68, 68, 68);
        font-family: Arial, sans-serif;
        text-align: left; /* Le texte sera centré horizontalement */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 2%;
    }
    h1 {
        font-size: 33px;
        font-weight: bold;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 14px;
        text-align: left; /* Le texte du paragraphe reste aligné à gauche */
        margin-left: 20px;
        margin-right: 20px;
    }
    ul {
        text-align: left;
        margin-left: 40px;
    }

    a {
        text-decoration: none;
        color: #007BFF;
    }
  
  
    #slider {
        user-select: none;
        position: relative;
        margin: auto;
        display: flex;
        align-items: center;
        margin-bottom: 10%;
        height: 400px; /* Hauteur de la div */
        overflow: hidden; /* Pour s'assurer que l'image ne dépasse pas la div */
    }

#precedent,
#suivant {
cursor: pointer;
transition: opacity 0.4s ease;
opacity: 0;
position: absolute;
font-size: 50px;

color: rgba(220, 220, 220, 0.8);
background-color: rgba(45, 44, 44, 0.8);
padding: 10px;
}
.fade {
animation-name: fade;
animation-duration: 1s;
}

@keyframes fade {
from {
    opacity: 0.4;
}
to {
    opacity: 1;
}
}

.container2 {
margin-top: 10%;
display: flex; /* Utilisez un conteneur flexible pour centrer les images */
justify-content: center; /* Centrez horizontalement les éléments enfants */
align-items: center; /* Centrez verticalement les éléments enfants */
gap: 10%;
margin-bottom: 2%;
}

.container2 img {
width: 100%; /* Définissez la largeur à 100% pour que les images soient de la même taille */
max-width: 300px; /* Vous pouvez définir une largeur maximale si nécessaire */
height: auto; /* Permettez à la hauteur de s'ajuster automatiquement pour maintenir les proportions */
}

#precedent {
left: 0;
}

#suivant {
right: 0;
}

#slider:hover #precedent,
#slider:hover #suivant {
opacity: 1;
}
