body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}


.background {
    background-image: url('../../Images_Site/epreuves_programme.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Ajustez la hauteur de l'arrière-plan pour couvrir l'écran entier */
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 11%;
    align-items: center;
   
}

.square {
   
    background-color: rgba(0, 0, 0, 0.8);
    height: 35%;
    width: 120%;
    padding-right: 10%;
    display: flex;
    flex-direction: column; /* Permet au contenu d'être empilé verticalement */
    justify-content: center;
    align-items: center;
    color: white; /* Couleur du texte par défaut */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Utilisez une courbe d'accélération "ease-in-out" pour la transition */
}

.square h2,
.square p {
    
    margin: 0;
    text-align: center;
    opacity: 1; /* Rend le texte visible par défaut */
}

.square.hovered {
    
    background-color: rgba(255, 255, 255, 1); /* Changez la couleur de fond au survol */
    transform: scale(1.1); /* Effectuez une légère mise à l'échelle au survol */
    height: 35%;
    width: 120%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, content 0.3s ease-in-out, color 0.3s ease-in-out;
    color: rgb(0, 0, 0);
    font-size: 15px;
    opacity: 1; /* Fait apparaître le texte au survol */
}

