body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#top{
    background-image: url(../Images_Site/Index.jpg);
    background-position: 50% -400px;
    height: 500px;
    font-size: 2em;
}

#epreuves{
    background-image: url(../Images_Site/epreuves_course_tailleL.jpg);
    height: 250px;
    background-position: 50% -100px;
}

#ecoresponsable{
    background-image: url(../Images_Site/carouselle_en_bas_4.jpg);
    height: 250px;
    background-position: 50% -100px;
    background-size: cover;
    
}

#medias{
    background-image: url(../Images_Site/epreuves_courses_tailleM.jpg);
    height: 250px;
    background-position: 50% -100px;
}


.section-container{
    font-size: 2em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
    height: 50%;
    width: 60%;
    transition: all .2s ease-in-out;
}

.section-title{
}

.section-content a, .section-content a:visited, .section-content a:active{
    color: #fff;
    text-decoration: none;
}

.section-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    display: none;
}

.section-content p{
    /* background-color: rgba(0, 0, 0, .7); */
    transition: all .2s ease-in-out;
} 