{% extends "layouts/dashboard/base.html.twig" %}

{% block title %}Modification de "{{ post.title }}"{% endblock %}
{% block subtitle %}Modifier le titre ou le contenu de la publication.{% endblock %}

{% block action %}
    {{ include('dashboard/blog/_delete_form.html.twig') }}
    <a href="{{ path('app_dashboard_blog_index') }}" class="button-primary">Retour</a>
{% endblock %}

{% block body %}
    {{ include('dashboard/blog/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
{% endblock %}
