<footer>
    <a href="mailto:inscription-nailloux@googlegroups.com">
        <div class="flex justify-center">
            <div class="border-2 border-black rounded-full p-2 hover:bg-gray-700">
                <img src="{{ asset('assets/envelope.png') }}" class="h-10">
            </div>
        </div>
    </a>
    <div class="copyright">
        <p>
            © 2021 Half du Lauragais
        </p>
    </div>
</footer>