<footer class="font-montserrat text-center bg-black flex flex-col justify-center items-center py-6 gap-2">
    <a href="mailto:inscription-nailloux@googlegroups.com" class="transition-colors border-2 bg-neutral-800 border-black rounded-full p-4 hover:bg-neutral-600">
        <img src="{{ asset('assets/envelope.png') }}" class="w-6 h-auto">
    </a>

    <p>
        © 2021 Half du Lauragais
    </p>
</footer>