<aside class="fixed px-2 top-0 left-0 w-[200px] h-screen overflow-y-auto bg-neutral-50 border-r shadow-lg border-neutral-200">
    <div class="text-center my-4 text-xs uppercase font-light">Administration</div>

    <ul class="mt-4 space-y-2">
        <li>
            <a href="/" class="block px-4 py-2 transition-all rounded-md hover:bg-blue-400 hover:text-white">Courses</a>
        </li>
        <li>
            <a href="{{ path('dashboard_blog') }}" class="block px-4 py-2 transition-all rounded-md hover:bg-blue-400 hover:text-white">Blog</a>
        </li>
        <hr>
        <li>
            <a href="/" class="block px-4 py-2 transition-all rounded-md hover:bg-blue-400 hover:text-white">Retour au site</a>
        </li>
    </ul>
</aside>