<aside class="bg-red-500">
    <div>Bienvenue</div>

    <ul>
        <li>
            <a href="/">Courses</a>
        </li>
        <li>
            <a href="/">Blog</a>
        </li>
        <li>
            <a href="/">Retour au site</a>
        </li>
    </ul>
</aside>