<form method="post" action="{{ path('app_dashboard_course_delete', {'id': course.id}) }}" onsubmit="return confirm('Êtes vous sûr(e) de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ course.id) }}">
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full">Supprimer</button>
</form>
